* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 70px;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* p {
    height: 10vh;
    width: 20vw;
    display: flex;
    justify-content: space-around;
} */

.buttons {
    padding-top: 30px;
    display: flex;
    justify-content: space-around;
}
